<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        Exercise 2: Dependency Injection
        BookRepository is wired into BookService using Spring IoC.
        Spring calls setBookRepository() automatically at startup.
    -->

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <bean id="bookService" class="com.library.service.BookService">
        <!-- Setter Injection: Spring injects bookRepository into bookService -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
